/* #introCard{
	position:relative;
	animation: slideFromRight 2000ms ease;
}

#skillContainer{
	animation: slideFromLeft 2000ms ease;
}

#navBar{
	animation: slideFromTop 1000ms linear ;
}
 */
.navbar-light .navbar-nav .nav-link:hover{
	color: #273AF0;
}

/* #experienceContainer{
	animation: slideFromLeft 1500ms ease-in-out ;
}
 */
/* #sketch_div{
	margin-top: 50px;
	margin-left: 60px;
} */


@keyframes slideFromLeft {
	0%{
		left: -500px;
	}
	100%{
		left: 0px;
	}
	
}

@keyframes slideFromRight {
	0%{
		right: -500px;
	}
	100%{
		right: 0px;
	}
	
}

@keyframes slideFromTop {
	0%{
		top: -100px;
	}
	100%{
		top: 0px;
	}
	
}


.contentOuter{
	position: relative;
	opacity: 0.9;
}
.contentInner{
	position: absolute;
	top: 0px;
	/* left: 20px; */
	color: white;
}



