#introCard {
	position: relative;
	animation: slideFromRight 2000ms ease;
}

#skillContainer {
	animation: slideFromLeft 2000ms ease;
}

#navBar {
	animation: slideFromTop 1000ms linear;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #273AF0;
}

#maincontainer {
	position: relative;
	/* top: 100px; */
}



@keyframes slideFromLeft {
	0% {
		left: -500px;
	}

	100% {
		left: 0px;
	}

}

@keyframes slideFromRight {
	0% {
		right: -500px;
	}

	100% {
		right: 0px;
	}

}

@keyframes slideFromTop {
	0% {
		top: -100px;
	}

	100% {
		top: 0px;
	}

}


.contentOuter {
	position: relative;
	opacity: 0.9;
}

.contentInner {
	position: absolute;
	top: 0px;
	/* left: 20px; */
	color: white;
}


.flip-card-container {
	perspective: 1000px;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 270px;
	border-radius: 10px;
}

.flip-card-inner {
	background: transparent;
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
	border-radius: 10px;
}

.flip-card-container:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	backface-visibility: hidden;
	padding: 20px;
}

.flip-card-front {
	width: 100%;
	height: 100%;
	justify-content: top;
}

.flip-card-back {
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
	justify-content: center;
}

#hello_tamal {
	animation: typing 2s steps(15) infinite alternate;
	animation-delay: 1s;
	white-space: nowrap;
	overflow: hidden;
}

@keyframes typing {
	0% {
		width: 0ch;
		border-right: 1px solid blue;
	}

	100% {
		width: 15ch;
		border-right: 1px solid blue
	}
}